@import 'styles/variables';

.chatContainer {
    display: flex;
    height: 100vh;
    &__list {
        display: flex;
        width: 320px;
        background-color: @white-ligth-color;
        padding: 0 10px;
    }
    &__chat {
        display: flex;
        flex: 1;
    }
}
