
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hello</title>
    <meta charset="utf-8" />
  </head>
  <body>
    {# {% extends 'src/html/index.html.njk' %} #}
    <h1>Posts {{page_title}}</h1>
  </body>
</html>
