<section class="profile" id={{formId}}>
    <div class="profile__content">
        {{$childComponent this "backButton"}}
        <form id="avatarForm">
            {{#if avatar}}
                <img src={{ avatar }} alt="avatar" class="profile__image">
                {{else}}
                <div class="profile__image-block"></div>
            {{/if}}
            <input id="avatar" type="file" name="avatar"  class="profile__imageInput"/>
            {{ $childComponent this "submitButton" }}
        </form>
        <form method="POST" class="profile__form" id="form">
            <div class="profile__inputs">
                {{$childComponent this "emailInput"}}
                {{$childComponent this "loginInput"}}
                {{$childComponent this "firstNameInput"}}
                {{$childComponent this "secondNameInput"}}
                {{$childComponent this "displayNameInput"}}
                {{$childComponent this "phoneInput"}}
            </div>
            <div class="profile__buttons" id="buttons">
                {{ $childComponent this "saveProfile" }}
            </div>
            <div class="form-error" id="errors"></div>
        </form>
    </div>
</section>
