@import '../../styles/variables';

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s ease;
  &__img {
    display: block;
    width: 100%;
    height: 100%;
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    cursor: pointer;
    font-weight: 500;
    font-size: 13px;
    line-height: 14px;
    padding: 15px;
  }
  &:hover {
    .image__button {
      visibility: visible;
      color: @white-color;
      background: rgba(0, 0, 0, 0.5);
    }
  }
}
