@import 'styles/variables';

.message {
    display: block;
    max-width: 400px;
    padding: 11px;
    margin-bottom: 21px;
    background: @light-color;
    border-radius: 12px;
    &__text {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.2;
        text-align: left;
    }
}
